MONGODB_URI=
MONGODB_DIRECT_URI=
MONGODB_DB=buildpro
MONGODB_DNS_SERVERS=8.8.8.8,1.1.1.1
MONGODB_TLS_ALLOW_INVALID_CERTIFICATES=false
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=buildpro
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_SESSION_SECRET=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_FACEBOOK_URL=
NEXT_PUBLIC_INSTAGRAM_URL=
